tokn.txt
other version/
legacy version/
astrazioni-non-obbligatorie/
audio/originals_backup/
audio/long-drone-texture/
audio/originals_backup/
audio/Fieldscapes, Fieldscape 20231212 004951.wav
audio/SWF3.wav
audio/WASH2.wav
audio/WEEN_reverb.wav
audio/WEEN_s.wav
audio/buchla_3.wav
audio/earings-stereo.wav
audio/gesto-4-mono_distort_fractla-telescope_texture.wav
Envion-Algo-Score/github.html
audio/plotter-1sec.wav
audio/rec17_cyberkick-norm.wav
audio/rrr_fractal_textcross.wav
audio/small-water-drops.wav
audio/sound-rich-2sec_1.wav